# 빅데이터분석기사 실기 스터디 1주차(10.12 ~ 10.14)
***

## 1. Python 기초

#### List - 리스트 하나만 잘 다뤄도 실기 합격이 가능하다.

In [318]:
obj_list = ['손흥민', '호날두', '메시']

위의 리스트는 3의 길이를 가지고 있고 모두 문자열로 구성되어 있다.

In [319]:
obj_list

['손흥민', '호날두', '메시']

In [320]:
obj_list[0]

'손흥민'

In [321]:
obj_list[1]

'호날두'

computer science에서 시작을 의미하는 수는 0이다.

In [322]:
num_list = [3, 6, 100]

In [323]:
num_list

[3, 6, 100]

#### dictionary - 조금 더 짜임새 있는 코드를 짜고 싶다면 활용가치가 있다.

- 딕셔너리 구조는 {key : value} 형태로 짜여져있다.

In [2]:
nation_dict = {'한국' : '서울', '영국' : '런던', '프랑스' : '파리'}

In [3]:
nation_dict

{'한국': '서울', '영국': '런던', '프랑스': '파리'}

In [4]:
nation_dict.items()

dict_items([('한국', '서울'), ('영국', '런던'), ('프랑스', '파리')])

딕셔너리의 모든 구성요소를 쌍의 형태로 확인할 수 있다.

In [5]:
nation_dict.keys()

dict_keys(['한국', '영국', '프랑스'])

딕셔너리의 key 값들만 추출

In [6]:
nation_dict.values()

dict_values(['서울', '런던', '파리'])

딕셔너리의 키에 대응되는 값들만 추출

그렇다면 key를 value로 value를 key로 사용하고 싶다면?

In [329]:
{v : k for k, v in nation_dict.items()}

{'서울': '한국', '런던': '영국', '파리': '프랑스'}

#### 문자열

In [7]:
s = '빅데이터분석기사실기'

In [8]:
s

'빅데이터분석기사실기'

'빅데이터'라는 문자가 포함되어 있나?

In [9]:
'빅데이터' in s

True

In [10]:
'파이썬' in s

False

앞의 두 글자만 출력

In [333]:
s[:2]

'빅데'

In [11]:
s[:5]

'빅데이터분'

뒤의 세 글자만 출력

In [334]:
s[-3:]

'사실기'

In [14]:
s[-5:]

'석기사실기'

In [335]:
s[7:]

'사실기'

In [20]:
s = '안녕하세요. 반갑습니다.'

"안"이라는 글자로 시작하는 문자열인가?

In [21]:
s.startswith('안')

True

"요"라는 글자로 끝나는 문자열인가?

In [22]:
s.endswith('요')

False

공백을 기준으로 분리

In [23]:
s.split(' ')

['안녕하세요.', '반갑습니다.']

In [25]:
s.split(' ')[0]

'안녕하세요.'

In [27]:
s.split(' ')[-1]

'반갑습니다.'

#### 숫자형 연산

In [28]:
num1 = 8
num2 = 3

In [29]:
8 // 3

2

In [30]:
8 % 3

2

RMSE = MSE의 제곱근

In [31]:
import numpy as np


a = 9
print(np.sqrt(a))

3.0

In [32]:
a ** 0.5

3.0

In [33]:
3 **0.5

1.7320508075688772

In [34]:
(a ** 0.5) ** 0.5

1.7320508075688772

## 2. Pandas

- pandas = excel 이라는 마인드를 가지자.
- garbage in garbage out -> 모델에 사용할 데이터를 잘 만들어야 예측도 잘 한다.

In [111]:
import pandas as pd

In [112]:
data = pd.read_csv('/Users/kisehyun/Competition/데이콘_영화관객예측/movies_train.csv')

In [113]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

### 기초 Handling

#### 2-1. Data 확인
- Data 크기 확인

In [343]:
data.shape

(600, 12)

In [38]:
data.shape[0]

600

In [39]:
data.shape[1]

12

- Data Type 확인

In [41]:
data['release_time'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [344]:
data.dtypes

title              object
distributor        object
genre              object
release_time       object
time                int64
screening_rat      object
director           object
dir_prev_bfnum    float64
dir_prev_num        int64
num_staff           int64
num_actor           int64
box_off_num         int64
dtype: object

data 인덱스

In [345]:
data.index

RangeIndex(start=0, stop=600, step=1)

data 인덱스 값 확인

In [44]:
data.index.values[:10] # 앞에서 10개만

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

columns 확인

In [45]:
data.head(2)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.5,2,387,3,7072501

In [347]:
data.columns

Index(['title', 'distributor', 'genre', 'release_time', 'time',
       'screening_rat', 'director', 'dir_prev_bfnum', 'dir_prev_num',
       'num_staff', 'num_actor', 'box_off_num'],
      dtype='object')

#### 2-2. Sorting

- sort_values(by = '정렬기준', ascending = True or False) / default = True
- ascending -> 오름차순

In [348]:
data.sort_values(by = 'box_off_num', ascending = True) # 오름차순

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
432,젊은 엄마 2,골든타이드픽처스,멜로/로맨스,2014-05-29,89,청소년 관람불가,노성수,NaN,0,0,1,1
324,청아,인피니티엔터테인먼트,드라마,2014-09-25,92,청소년 관람불가,김정호,NaN,0,3,4,2
338,타부 : 금지된 사랑,고구마공작소,멜로/로맨스,2015-09-03,78,청소년 관람불가,고구마,1.761531e+07,1,27,3,8
410,전망 좋은 방-밀애,(주) 케이알씨지,멜로/로맨스,2012-11-08,71,청소년 관람불가,이세일,NaN,0,0,3,10
481,려수,(주) 영화사조제,드라마,2011-11-10,98,15세 관람가,진광교,NaN,0,1,2,36
...,...,...,...,...,...,...,...,...,...,...,...,...
460,"광해, 왕이 된 남자",CJ 엔터테인먼트,드라마,2012-09-13,131,15세 관람가,추창민,1.552541e+06,2,402,3,12323595
498,암살,(주)쇼박스,액션,2015-07-22,139,15세 관람가,최동훈,5.169479e+06,4,628,3,12706663
530,7번방의 선물,(주)NEW,코미디,2013-01-23,127,15세 관람가,이환경,8.190495e+05,2,300,8,12811435
362,도둑들,(주)쇼박스,느와르,2012-07-25,135,15세 관람가,최동훈,2.564692e+06,3,462,10,12983841
372,국제시장,CJ 엔터테인먼트,드라마,2014-12-17,126,12세 관람가,윤제균,NaN,0,869,4,14262766

In [46]:
data.sort_values(by = 'box_off_num', ascending = False) # 내림차순

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
372,국제시장,CJ 엔터테인먼트,드라마,2014-12-17,126,12세 관람가,윤제균,NaN,0,869,4,14262766
362,도둑들,(주)쇼박스,느와르,2012-07-25,135,15세 관람가,최동훈,2.564692e+06,3,462,10,12983841
530,7번방의 선물,(주)NEW,코미디,2013-01-23,127,15세 관람가,이환경,8.190495e+05,2,300,8,12811435
498,암살,(주)쇼박스,액션,2015-07-22,139,15세 관람가,최동훈,5.169479e+06,4,628,3,12706663
460,"광해, 왕이 된 남자",CJ 엔터테인먼트,드라마,2012-09-13,131,15세 관람가,추창민,1.552541e+06,2,402,3,12323595
...,...,...,...,...,...,...,...,...,...,...,...,...
481,려수,(주) 영화사조제,드라마,2011-11-10,98,15세 관람가,진광교,NaN,0,1,2,36
410,전망 좋은 방-밀애,(주) 케이알씨지,멜로/로맨스,2012-11-08,71,청소년 관람불가,이세일,NaN,0,0,3,10
338,타부 : 금지된 사랑,고구마공작소,멜로/로맨스,2015-09-03,78,청소년 관람불가,고구마,1.761531e+07,1,27,3,8
324,청아,인피니티엔터테인먼트,드라마,2014-09-25,92,청소년 관람불가,김정호,NaN,0,3,4,2
432,젊은 엄마 2,골든타이드픽처스,멜로/로맨스,2014-05-29,89,청소년 관람불가,노성수,NaN,0,0,1,1

In [47]:
data.sort_values(by = 'box_off_num')[::-1]

# [a:b:c] -> 시작은 a고 끝은 b까지이고 간격은 c만큼

# [처음:끝:-1]

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
372,국제시장,CJ 엔터테인먼트,드라마,2014-12-17,126,12세 관람가,윤제균,NaN,0,869,4,14262766
362,도둑들,(주)쇼박스,느와르,2012-07-25,135,15세 관람가,최동훈,2.564692e+06,3,462,10,12983841
530,7번방의 선물,(주)NEW,코미디,2013-01-23,127,15세 관람가,이환경,8.190495e+05,2,300,8,12811435
498,암살,(주)쇼박스,액션,2015-07-22,139,15세 관람가,최동훈,5.169479e+06,4,628,3,12706663
460,"광해, 왕이 된 남자",CJ 엔터테인먼트,드라마,2012-09-13,131,15세 관람가,추창민,1.552541e+06,2,402,3,12323595
...,...,...,...,...,...,...,...,...,...,...,...,...
481,려수,(주) 영화사조제,드라마,2011-11-10,98,15세 관람가,진광교,NaN,0,1,2,36
410,전망 좋은 방-밀애,(주) 케이알씨지,멜로/로맨스,2012-11-08,71,청소년 관람불가,이세일,NaN,0,0,3,10
338,타부 : 금지된 사랑,고구마공작소,멜로/로맨스,2015-09-03,78,청소년 관람불가,고구마,1.761531e+07,1,27,3,8
324,청아,인피니티엔터테인먼트,드라마,2014-09-25,92,청소년 관람불가,김정호,NaN,0,3,4,2
432,젊은 엄마 2,골든타이드픽처스,멜로/로맨스,2014-05-29,89,청소년 관람불가,노성수,NaN,0,0,1,1

<font color = 'red'> Quiz> release_time, box_off_num을 기준으로 내림차순 정렬
    
<font color = 'black'> 2개 이상 컬럼으로 정렬할 경우 by = [기준컬럼1, 기준컬럼2,....]

In [48]:
data.sort_values(by = ['release_time', 'box_off_num'], ascending = False)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
377,내부자들: 디 오리지널,(주)쇼박스,느와르,2015-12-31,180,청소년 관람불가,우민호,3131902.00,3,382,3,2084844
233,친애하는 지도자동지께,이상우필름,드라마,2015-12-31,99,청소년 관람불가,이상우,NaN,0,40,3,339
535,조선마술사,롯데엔터테인먼트,드라마,2015-12-30,122,12세 관람가,김대승,1347413.75,4,574,2,627586
262,굿바이 그리고 헬로우,(주) 액티버스엔터테인먼트,드라마,2015-12-24,82,12세 관람가,한창근,NaN,0,23,4,329
484,인 허 플레이스,홀리가든,드라마,2015-12-17,115,청소년 관람불가,알버트 신,NaN,0,28,3,1599
...,...,...,...,...,...,...,...,...,...,...,...,...
228,회복,스토리셋,다큐멘터리,2010-01-14,94,12세 관람가,김종철,NaN,0,54,1,155281
475,웨딩드레스,싸이더스,드라마,2010-01-14,109,전체 관람가,권형진,462623.00,1,261,2,143458
46,페어 러브,CJ 엔터테인먼트,드라마,2010-01-14,117,12세 관람가,신연식,NaN,0,106,2,27083
207,소규모 아카시아 밴드 이야기,이모션 픽처스,다큐멘터리,2010-01-14,90,12세 관람가,민환기,NaN,0,18,7,791
109,카페 서울,나이너스엔터테인먼트(주),드라마,2010-01-02,94,12세 관람가,타케 마사하루,NaN,0,41,2,353

#### 2-3. Creating

- 데이터['변수명'] = ....

data에 배급사가 CJ 혹은 롯데인지 여부에 대해 'CJ롯데' 변수 추가

In [66]:
data['CJ롯데'] = data.distributor.str.contains('CJ|롯데')

In [50]:
data

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,CJ롯데
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,True
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,False
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,False
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,False
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,False
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,False
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475,False
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525,True
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532,True

<font color = 'red'> Quiz> 김씨가 만든 영화 여부에 대해 '김씨' 변수를 생성하시오.

In [72]:
data['김씨'] = data.director.str.contains('김')

In [53]:
data['김씨'].value_counts()

False    484
True     116
Name: 김씨, dtype: int64

In [54]:
data['CJ롯데'].value_counts()

False    488
True     112
Name: CJ롯데, dtype: int64

#### 2-4. Deleting

- del 데이터['컬럼']
- 데이터.drop('변수명', axis = 0 or 1)
- axis = 1 -> 열 / 0 -> 행

CJ롯데 변수 삭제

In [56]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,CJ롯데,김씨
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,True,False
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,False,False
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,False,False
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,False,False
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,False,False

In [59]:
data.drop('CJ롯데', axis = 1)#.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,김씨
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,False
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,False
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,False
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,False
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,False
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,False
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475,True
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525,False
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532,False

In [60]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,CJ롯데,김씨
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,True,False
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,False,False
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,False,False
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,False,False
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,False,False

In [61]:
#data = data.drop('CJ롯데', axis = 1)

data = data.drop('CJ롯데', axis = 1)로 해주어야 비로소 CJ롯데 변수가 제거된채 data가 저장된다.

한 번에 할 수는 없나? -> inplace = True

In [77]:
data['가짜'] = 0

In [84]:
data.drop('가짜', axis = 1, inplace = True) # inplace = True를 하면 실제 값이 사라진다. default = False로 지정되어 있다.

In [85]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [70]:
data.drop('CJ롯데', axis = 1, inplace = True)

In [73]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,김씨
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,False
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,False
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,False
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,False
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,False

In [74]:
del data['김씨']

In [75]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [86]:
data['가짜1'] = 0
data['가짜2'] = 0
data['가짜3'] = 0

In [88]:
# 다중컬럼을 삭제를 하고 싶을 때는 list형태에 삭제를 하고 싶은 컬럼명을 작성하면 된다.

data.drop(['가짜1', '가짜2', '가짜3'], axis = 1, inplace = True)

In [90]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

#### 2-5. Renaming

- 데이터.columns = ...
- 데이터.rename({'기존컬럼1' : '대체컬럼1', '기존컬럼2' : '대체컬럼2'....})

In [358]:
data.columns

Index(['title', 'distributor', 'genre', 'release_time', 'time',
       'screening_rat', 'director', 'dir_prev_bfnum', 'dir_prev_num',
       'num_staff', 'num_actor', 'box_off_num'],
      dtype='object')

In [91]:
small_df = data.iloc[:, :4]

In [92]:
small_df

         title   distributor genre release_time
0       개들의 전쟁      롯데엔터테인먼트    액션   2012-11-22
1         내부자들        (주)쇼박스   느와르   2015-11-19
2    은밀하게 위대하게        (주)쇼박스    액션   2013-06-05
3     나는 공무원이다        (주)NEW   코미디   2012-07-12
4         불량남녀  쇼박스(주)미디어플렉스   코미디   2010-11-04
..         ...           ...   ...          ...
595         해무        (주)NEW   드라마   2014-08-13
596       파파로티        (주)쇼박스   드라마   2013-03-14
597      살인의 강     (주)마운틴픽쳐스    공포   2010-09-30
598     악의 연대기     CJ 엔터테인먼트   느와르   2015-05-14
599        베를린     CJ 엔터테인먼트    액션   2013-01-30

[600 rows x 4 columns]

In [93]:
small_df.columns

Index(['title', 'distributor', 'genre', 'release_time'], dtype='object')

In [94]:
# 모든 컬럼명을 변경하고 싶을 때 사용!!

small_df.columns = ['제목', '배급사', '장르', '개봉일']

In [95]:
small_df.head()

          제목           배급사   장르         개봉일
0     개들의 전쟁      롯데엔터테인먼트   액션  2012-11-22
1       내부자들        (주)쇼박스  느와르  2015-11-19
2  은밀하게 위대하게        (주)쇼박스   액션  2013-06-05
3   나는 공무원이다        (주)NEW  코미디  2012-07-12
4       불량남녀  쇼박스(주)미디어플렉스  코미디  2010-11-04

나는 컬럼 몇개만 바꾸고 싶다!

In [96]:
data

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

In [100]:
data.rename({'title' : '제목', 'genre' : "장르"}, axis = 1, inplace = True)#.head()

한 번에 바꾸고 싶으면 동일하게 inplace = True 지정해주면 됨!


#### 2-6. 중복 행 제거

- 데이터.drop_duplicates('컬럼')

In [104]:
df = pd.DataFrame({'a' : [1,2,3], 'b' : [5, 5, 10]})

In [105]:
df

   a   b
0  1   5
1  2   5
2  3  10

In [106]:
df.drop_duplicates('b')

   a   b
0  1   5
2  3  10

inplace = True 지정하면 중복 제거된 데이터가 df에 저장

In [108]:
df.drop_duplicates('b', keep = 'first')

   a   b
0  1   5
2  3  10

In [366]:
df.drop_duplicates('b', keep = 'last')

   a   b
1  2   5
2  3  10

keep 인자는 중복 행에서 첫번째 혹은 마지막 행을 남길 것인지 지정한다. / first = 첫번째, last = 마지막

<font color = 'red'> Quiz> 장르와 상영등급을 기준으로 중복값을 제거할 때 마지막 행만 남기고 개봉일 기준 오름차순 정렬
    
- 다중컬럼은 리스트형태로 묶어서 전달

In [116]:
data.drop_duplicates(['genre', 'screening_rat'], keep = 'last').sort_values(by = 'release_time')

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
565,도쿄 택시,(주)키노아이,코미디,2010-05-20,75,전체 관람가,김태식,NaN,0,80,3,6034
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
562,이파네마 소년,프리비젼 엔터테인먼트,멜로/로맨스,2010-11-04,94,12세 관람가,김기훈,NaN,0,158,2,3436
587,서유기 리턴즈,(주) 영화사조제,SF,2011-02-17,79,전체 관람가,신재호,6.760200e+04,1,220,4,12696
312,집,CJ 엔터테인먼트,애니메이션,2011-03-17,83,15세 관람가,박미선,NaN,0,198,6,81
540,헤드,SBS콘텐츠허브,액션,2011-05-26,100,청소년 관람불가,조운,1.450000e+02,1,290,3,61414
158,멋진 인생,(주) 영화사조제,뮤지컬,2011-06-09,100,12세 관람가,신춘수,NaN,0,4,4,3089
567,술에 대하여 - 극장판,이모션 픽처스,다큐멘터리,2011-09-01,72,15세 관람가,임범,NaN,0,0,2,541
508,모차르트 락 오페라,SK플래닛,뮤지컬,2011-11-17,133,전체 관람가,정성복,NaN,0,4,4,16323
416,은실이,CJ 엔터테인먼트,애니메이션,2012-03-08,71,청소년 관람불가,김선아,NaN,0,17,3,218
494,화차,필라멘트 픽쳐스,미스터리,2012-03-08,117,15세 관람가,변영주,4.373400e+04,2,308,3,2436884
364,달팽이의 별,영화사 조아,멜로/로맨스,2012-03-22,85,전체 관람가,이승준,NaN,0,21,2,20081
555,듀엣,(주) 영화사조제,드라마,2012-04-19,96,전체 관람가,이상빈,NaN,0,61,2,1081
563,웨딩스캔들,(주)마인스엔터테인먼트,멜로/로맨스,2012-09-06,90,15세 관람가,신재호,6.760200e+04,1,57,2,21295
576,점쟁이들,(주)NEW,코미디,2012-10-03,119,15세 관람가,신정원,1.030261e+06,3,380,6,953682
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,4.960610e+05,1,286,6,1716438
403,설인,CJ 엔터테인먼트,SF,2013-03-14,91,청소년 관람불가,이사무엘,5.700000e+01,1,162,2,988
566,전국노래자랑,롯데엔터테인먼트,코미디,2013-05-01,112,12세 관람가,이종필,3.859775e+05,2,245,8,978413
593,낭만파 남편의 편지,퍼스트런,미스터리,2013-09-12,97,청소년 관람불가,최위안,NaN,0,5,3,1132
568,공범,CJ 엔터테인먼트,공포,2013-10-24,95,15세 관람가,국동석,1.389992e+06,4,281,2,1766285
586,청야,마노엔터테인먼트,드라마,2013-12-26,83,12세 관람가,김재수,NaN,0,2,4,4550
515,고스톱 살인,(주)랠리버튼,SF,2014-03-20,100,15세 관람가,김준권,NaN,0,77,3,820
594,오빠가 돌아왔다,(주)마운틴픽쳐스,코미디,2014-03-20,94,청소년 관람불가,노진수,NaN,0,37,5,1958
269,가시,인벤트 디,서스펜스,2014-04-10,117,청소년 관람불가,김태균,NaN,0,207,2,142170
533,홈 스위트 홈,머스트 씨 무비,애니메이션,2014-07-17,67,12세 관람가,안도 마사히로,NaN,0,8,3,2329
505,해적: 바다로 간 산적,롯데엔터테인먼트,SF,2014-08-06,130,12세 관람가,이석훈,1.843895e+06,3,868,2,8666208
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3.833000e+03,1,510,7,1475091
243,파티51,인디스토리,다큐멘터리,2014-12-11,102,청소년 관람불가,정용택,NaN,0,41,7,2788
577,망원동 인공위성,시네마달,다큐멘터리,2015-02-05,108,12세 관람가,김형주,NaN,0,8,1,2972
585,후쿠시마의 미래,인디플러그,다큐멘터리,2015-04-09,70,전체 관람가,이홍기,NaN,0,4,1,938
592,차이나타운,CGV아트하우스,느와르,2015-04-29,110,청소년 관람불가,한준희,5.974970e+05,3,420,3,1472147
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
11,무서운 집,(주)콘텐츠 윙,공포,2015-07-30,98,12세 관람가,양병간,NaN,0,0,1,1079
554,위험한 섹스,(주) 케이알씨지,멜로/로맨스,2015-09-23,72,청소년 관람불가,이전,NaN,0,0,1,419
516,서부전선,롯데엔터테인먼트,액션,2015-09-24,112,12세 관람가,천성일,4.385472e+06,2,388,2,609063
582,뽀로로 극장판 컴퓨터 왕국 대모험,(주)NEW,애니메이션,2015-12-10,62,전체 관람가,박영균,NaN,0,2,8,446054

### 추가 핸들링

#### 1. 결측치 처리

- isnull()

In [117]:
data.isnull()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
595,False,False,False,False,False,False,False,False,False,False,False,False
596,False,False,False,False,False,False,False,False,False,False,False,False
597,False,False,False,False,False,False,False,True,False,False,False,False
598,False,False,False,False,False,False,False,True,False,False,False,False
599,False,False,False,False,False,False,False,True,False,False,False,False

In [118]:
data

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

In [120]:
data.isnull().sum()

title               0
distributor         0
genre               0
release_time        0
time                0
screening_rat       0
director            0
dir_prev_bfnum    330
dir_prev_num        0
num_staff           0
num_actor           0
box_off_num         0
dtype: int64

만약 column이 엄청 많을 때 결측치가 존재하는 컬럼명만 알고 싶다면?

답은 boolean 형태로 반환! -> True or False

In [368]:
data.isnull().sum() > 0

title             False
distributor       False
genre             False
release_time      False
time              False
screening_rat     False
director          False
dir_prev_bfnum     True
dir_prev_num      False
num_staff         False
num_actor         False
box_off_num       False
dtype: bool

False = 0 & True = 1이다. 곱한다고 생각했을 때 결측치가 없는 컬럼은 0이 곱해지기 때문에 출력이 안된다.

In [121]:
data.columns

Index(['title', 'distributor', 'genre', 'release_time', 'time',
       'screening_rat', 'director', 'dir_prev_bfnum', 'dir_prev_num',
       'num_staff', 'num_actor', 'box_off_num'],
      dtype='object')

In [123]:
data.columns[data.isnull().sum() > 0] # 결측치가 존재하는 컬럼만 확인이 가능하다.

Index(['dir_prev_bfnum'], dtype='object')

#### - info()

In [369]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [ ]:
# train = pd.read_csv('train.csv')
# test = pd.read_csv('test.csv')

In [124]:
data.dtypes

title              object
distributor        object
genre              object
release_time       object
time                int64
screening_rat      object
director           object
dir_prev_bfnum    float64
dir_prev_num        int64
num_staff           int64
num_actor           int64
box_off_num         int64
dtype: object

#### 결측치 채우는 방법

- 0으로 채운다.
- 평균값, 중위값 등등
- 결측치 비중이 너무 높으면 삭제 고려도 필요

-> 모든 방법의 평가 지표는 모델의 성능이다! 본인 주관에 따라 채우면 되고 모델링 성능을 확인하는게 좋다.

In [125]:
data.dropna()#.shape

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1.161602e+06,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,2.207752e+05,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,2.389400e+04,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.000000e+00,1,251,2,483387
5,강철대오 : 구국의 철가방,롯데엔터테인먼트,코미디,2012-10-25,113,15세 관람가,육상효,8.379690e+05,2,262,4,233211
...,...,...,...,...,...,...,...,...,...,...,...,...
587,서유기 리턴즈,(주) 영화사조제,SF,2011-02-17,79,전체 관람가,신재호,6.760200e+04,1,220,4,12696
588,하울링,CJ 엔터테인먼트,느와르,2012-02-16,114,15세 관람가,유하,2.061297e+06,3,288,2,1612554
592,차이나타운,CGV아트하우스,느와르,2015-04-29,110,청소년 관람불가,한준희,5.974970e+05,3,420,3,1472147
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3.833000e+03,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,4.960610e+05,1,286,6,1716438

In [127]:
data.shape

(600, 12)

In [128]:
#data.dropna(inplace = True)

In [ ]:
# data.drop
# data.fillna(무엇으로 채울거냐?)

In [129]:
data.mean()

time              1.008633e+02
dir_prev_bfnum    1.050443e+06
dir_prev_num      8.766667e-01
num_staff         1.511183e+02
num_actor         3.706667e+00
box_off_num       7.081818e+05
dtype: float64

In [130]:
data.median()

time                 100.000
dir_prev_bfnum    478423.625
dir_prev_num           0.000
num_staff             82.500
num_actor              3.000
box_off_num        12591.000
dtype: float64

In [132]:
data.fillna(data.mean()).shape

(600, 12)

In [372]:
data.columns

Index(['title', 'distributor', 'genre', 'release_time', 'time',
       'screening_rat', 'director', 'dir_prev_bfnum', 'dir_prev_num',
       'num_staff', 'num_actor', 'box_off_num'],
      dtype='object')

True or False를 내가 찾고자 하는 값과 매칭시키면 된다!

In [373]:
data.columns[data.isnull().sum() > 0]

Index(['dir_prev_bfnum'], dtype='object')

### 20분까지 풀어보기
<font color = 'red'> Quiz> 문자열 타입의 컬럼만 반환해보기

- 비교연산자 : == (같냐?) != (아니냐?)
    
- 문항에서 다른 것을 물어보면 != 연산자 사용!

In [135]:
data.columns[data.dtypes == object]

Index(['title', 'distributor', 'genre', 'release_time', 'screening_rat',
       'director'],
      dtype='object')

In [148]:
data.columns[data.dtypes != object]

Index(['time', 'dir_prev_bfnum', 'dir_prev_num', 'num_staff', 'num_actor',
       'box_off_num'],
      dtype='object')

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

<font color = 'red'> Quiz> 결측치를 채우기 전 dir_prev_bfnum의 평균 값과 중앙값으로 결측치를 채운 후 평균 값을 각각 출력하시오.

In [144]:
a = data['dir_prev_bfnum'].mean()

In [145]:
a

1050442.8914197532

In [146]:
m1 = data.fillna(data.mean())
m2 = data.fillna(data.median())

In [147]:
m1['dir_prev_bfnum'].mean(), m2['dir_prev_bfnum'].mean()

(1050442.8914197555, 735832.2948888888)

#### pandas indexing

- loc : 조건에 맞는 행 찾기에 유용

ex> 데이터.loc[조건]

In [374]:
data.loc[:5,:'time'] # loc[인덱싱, 변수명]

            title   distributor genre release_time  time
0          개들의 전쟁      롯데엔터테인먼트    액션   2012-11-22    96
1            내부자들        (주)쇼박스   느와르   2015-11-19   130
2       은밀하게 위대하게        (주)쇼박스    액션   2013-06-05   123
3        나는 공무원이다        (주)NEW   코미디   2012-07-12   101
4            불량남녀  쇼박스(주)미디어플렉스   코미디   2010-11-04   108
5  강철대오 : 구국의 철가방      롯데엔터테인먼트   코미디   2012-10-25   113

In [151]:
data.loc[:10, 'genre']

0         액션
1        느와르
2         액션
3        코미디
4        코미디
5        코미디
6      다큐멘터리
7         액션
8        뮤지컬
9        드라마
10    멜로/로맨스
Name: genre, dtype: object

- 관객 수가 1000만이 넘는 행 출력 -> data['box_off_num'] > 10000000

- 데이터[필터링을 적용할 조건]

In [153]:
data.loc[data['box_off_num'] > 10000000]

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
122,변호인,(주)NEW,드라마,2013-12-18,127,15세 관람가,양우석,NaN,0,311,5,11374879
362,도둑들,(주)쇼박스,느와르,2012-07-25,135,15세 관람가,최동훈,2.564692e+06,3,462,10,12983841
372,국제시장,CJ 엔터테인먼트,드라마,2014-12-17,126,12세 관람가,윤제균,NaN,0,869,4,14262766
460,"광해, 왕이 된 남자",CJ 엔터테인먼트,드라마,2012-09-13,131,15세 관람가,추창민,1.552541e+06,2,402,3,12323595
498,암살,(주)쇼박스,액션,2015-07-22,139,15세 관람가,최동훈,5.169479e+06,4,628,3,12706663
530,7번방의 선물,(주)NEW,코미디,2013-01-23,127,15세 관람가,이환경,8.190495e+05,2,300,8,12811435

출력을 하고 나서 n번째 행을 보고싶다.

In [155]:
data.loc[data['box_off_num'] > 10000000].loc[362] # 필터링 된 데이터의 인덱싱을 사용해야한다.

title                        도둑들
distributor               (주)쇼박스
genre                        느와르
release_time          2012-07-25
time                         135
screening_rat            15세 관람가
director                     최동훈
dir_prev_bfnum    2564691.666667
dir_prev_num                   3
num_staff                    462
num_actor                     10
box_off_num             12983841
Name: 362, dtype: object

- loc는 인덱스가 바뀌면 활용이 불편해진다.

In [376]:
data.loc[data['box_off_num'] > 10000000].loc[0]

KeyError: 0

- 하지만 사실 loc는 그리 흔히 쓰이지 않는다. 조건문도 더 짧게 가능하다.

- 코미디 영화만 필터링학고 싶다.

In [157]:
data[data.genre == '코미디']

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,2.389400e+04,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.000000e+00,1,251,2,483387
5,강철대오 : 구국의 철가방,롯데엔터테인먼트,코미디,2012-10-25,113,15세 관람가,육상효,8.379690e+05,2,262,4,233211
16,써니,CJ E&M Pictures,코미디,2011-05-04,124,15세 관람가,강형철,8.223342e+06,1,572,11,7453715
50,황구,골든타이드픽처스,코미디,2014-10-16,87,전체 관람가,박용집,6.952015e+05,2,140,3,72
51,워킹걸,메가박스(주)플러스엠,코미디,2015-01-07,112,청소년 관람불가,정범식,5.837700e+05,3,315,3,151550
56,막걸스,드림팩트 엔터테인먼트,코미디,2015-05-21,103,15세 관람가,김기영,NaN,0,125,8,2410
78,덕수리 5형제,롯데엔터테인먼트,코미디,2014-12-04,102,15세 관람가,전형준,6.747877e+05,3,309,6,210775
92,두 번의 결혼식과 한 번의 장례식,영화사 진진,코미디,2012-06-21,106,15세 관람가,김조광수,NaN,0,155,4,51120
110,차형사,CJ 엔터테인먼트,코미디,2012-05-30,110,15세 관람가,신태라,1.322196e+06,1,391,5,1346754
118,라스트 갓파더,영구아트무비,코미디,2010-12-29,103,12세 관람가,심형래,7.855474e+06,1,31,5,2541603
128,조선명탐정 : 각시투구꽃의 비밀,쇼박스(주)미디어플렉스,코미디,2011-01-27,115,12세 관람가,김석윤,NaN,0,335,3,4786259
135,방가? 방가!,시너지,코미디,2010-09-30,110,12세 관람가,육상효,7.035070e+05,1,238,7,972431
150,완벽한 파트너,타임스토리그룹,코미디,2011-11-17,120,청소년 관람불가,박헌수,NaN,0,60,4,90370
155,슈퍼스타,(주)마운틴픽쳐스,코미디,2012-06-07,94,15세 관람가,임진순,NaN,0,17,2,1575
161,아부의 왕,롯데엔터테인먼트,코미디,2012-06-21,118,15세 관람가,정승구,1.604439e+06,1,260,6,497880
178,조선명탐정 : 사라진 놉의 딸,(주)쇼박스,코미디,2015-02-11,125,12세 관람가,김석윤,NaN,0,456,3,3872015
180,내 깡패 같은 애인,(주)JK필름,코미디,2010-05-20,105,15세 관람가,김광식,NaN,0,326,2,688639
196,사토미를 찾아라,(주) 브릿지웍스,코미디,2014-10-16,88,청소년 관람불가,New Pistol,NaN,0,48,8,2595
221,뽕똘,영화사 진진,코미디,2011-08-25,90,12세 관람가,오멸,NaN,0,7,5,1356
230,이층의 악당,KT,코미디,2010-11-24,115,15세 관람가,손재곤,2.077590e+06,1,428,2,596864
273,퀴즈왕,시네마서비스,코미디,2010-09-16,121,15세 관람가,장진,NaN,0,273,13,573001
279,숫호구,(주)엣나인필름,코미디,2014-08-07,80,청소년 관람불가,백승기,NaN,0,48,3,2117
316,미션: 톱스타를 훔쳐라,드림팩트 엔터테인먼트,코미디,2015-09-03,85,청소년 관람불가,노병하,NaN,0,43,5,512
325,내 남자의 순이,새인컴퍼니,코미디,2010-05-27,91,15세 관람가,김호준,4.027353e+05,3,131,3,10449
368,친절한 가정부,BoXoo 엔터테인먼트,코미디,2015-02-26,75,청소년 관람불가,노진수,NaN,0,4,4,166
387,백프로,(주)마인스 엔터테인먼트,코미디,2014-04-03,109,15세 관람가,김명균,4.624417e+05,3,191,6,37909
395,주유소 습격사건 2,시네마서비스,코미디,2010-01-21,111,15세 관람가,김상진,3.907784e+06,4,402,4,729834
397,헬로우 고스트,NEW,코미디,2010-12-22,111,12세 관람가,김영탁,1.876999e+06,3,369,6,3019960
398,평양성,롯데엔터테인먼트,코미디,2011-01-27,117,12세 관람가,이준익,NaN,0,499,5,1717566
399,피끓는 청춘,롯데엔터테인먼트,코미디,2014-01-22,121,15세 관람가,이연우,3.024666e+06,1,298,4,1676040
414,미스체인지,(주) 브릿지웍스,코미디,2013-09-05,100,청소년 관람불가,정초신,8.131640e+05,1,75,4,6054
426,환타스틱 러브짐: 전쟁 같은 사랑,(주)유비네트워크,코미디,2015-10-08,83,청소년 관람불가,한우진,NaN,0,7,7,303
433,플랜맨,롯데엔터테인먼트,코미디,2014-01-09,115,15세 관람가,성시흡,5.046096e+06,1,192,2,635744
455,탐정 : 더 비기닝,CJ 엔터테인먼트,코미디,2015-09-24,120,15세 관람가,김정훈,1.689216e+06,2,438,2,2625686
463,우리는 형제입니다,(주)쇼박스,코미디,2014-10-23,102,12세 관람가,장진,7.372900e+04,1,357,4,970377
468,미쓰GO,NEW,코미디,2012-06-21,115,15세 관람가,박철관,NaN,0,120,5,611685
476,수상한 그녀,CJ 엔터테인먼트,코미디,2014-01-22,124,15세 관람가,황동혁,2.781990e+06,2,437,5,8659725
490,춘하추동 로맨스,(주)노버스엔터테인먼트,코미디,2014-12-04,100,15세 관람가,오창민,NaN,0,54,7,1217
504,천사의 숨소리,롤러코스터 프로덕션,코미디,2012-02-23,93,12세 관람가,한지원,NaN,0,53,2,1873
518,577 프로젝트,필라멘트 픽쳐스,코미디,2012-08-30,99,15세 관람가,이근우,1.198420e+06,2,150,2,96080
530,7번방의 선물,(주)NEW,코미디,2013-01-23,127,15세 관람가,이환경,8.190495e+05,2,300,8,12811435
531,꿈은 이루어진다,CJ 엔터테인먼트,코미디,2010-05-27,113,15세 관람가,계윤식,1.468191e+06,1,258,2,101698
536,스파이,이십세기폭스코리아(주),코미디,2015-05-21,120,15세 관람가,폴 페이그,NaN,0,14,6,2318748
548,5백만불의 사나이,CJ 엔터테인먼트,코미디,2012-07-19,107,15세 관람가,김익로,1.073755e+05,2,157,3,104736
552,자칼이 온다,롯데엔터테인먼트,코미디,2012-11-15,107,15세 관람가,배형준,1.900000e+01,2,215,3,210278
565,도쿄 택시,(주)키노아이,코미디,2010-05-20,75,전체 관람가,김태식,NaN,0,80,3,6034
566,전국노래자랑,롯데엔터테인먼트,코미디,2013-05-01,112,12세 관람가,이종필,3.859775e+05,2,245,8,978413
576,점쟁이들,(주)NEW,코미디,2012-10-03,119,15세 관람가,신정원,1.030261e+06,3,380,6,953682
581,자가당착: 시대정신과 현실참여,인디플러그,코미디,2015-09-10,74,청소년 관람불가,김선,7.763000e+03,1,29,4,532
584,페스티발,시너지,코미디,2010-11-18,109,청소년 관람불가,이해영,4.753880e+05,3,420,7,196995
591,아티스트 봉만대,씨너스엔터테인먼트(주),코미디,2013-08-29,101,청소년 관람불가,봉만대,NaN,0,59,4,14188
594,오빠가 돌아왔다,(주)마운틴픽쳐스,코미디,2014-03-20,94,청소년 관람불가,노진수,NaN,0,37,5,1958

- query : SQL의 쿼리문 처럼 쿼리를 할당할 수 있다.

- data.query('조건1...')

In [158]:
data.query("director == '봉준호'")

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
496,설국열차,CJ 엔터테인먼트,SF,2013-08-01,125,15세 관람가,봉준호,NaN,0,67,10,9350351

In [159]:
data.query('director != "봉준호"')

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

- iloc : 실제 인덱싱에 더 가까움

In [162]:
data.loc[:10, : 'release_time'] # 수천개 컬럼중 673번째 컬럼까지만 출력 컬럼명 모르면? 사용 불가

              title      distributor   genre release_time
0            개들의 전쟁         롯데엔터테인먼트      액션   2012-11-22
1              내부자들           (주)쇼박스     느와르   2015-11-19
2         은밀하게 위대하게           (주)쇼박스      액션   2013-06-05
3          나는 공무원이다           (주)NEW     코미디   2012-07-12
4              불량남녀     쇼박스(주)미디어플렉스     코미디   2010-11-04
5    강철대오 : 구국의 철가방         롯데엔터테인먼트     코미디   2012-10-25
6              길위에서             백두대간   다큐멘터리   2013-05-23
7               회사원           (주)쇼박스      액션   2012-10-11
8   1789, 바스티유의 연인들  유니버설픽쳐스인터내셔널코리아     뮤지컬   2014-09-18
9             청춘그루브           (주)두타연     드라마   2012-03-15
10           AV 아이돌        (주) 케이알씨지  멜로/로맨스   2015-07-27

In [163]:
data.iloc[:10, :4]

             title      distributor  genre release_time
0           개들의 전쟁         롯데엔터테인먼트     액션   2012-11-22
1             내부자들           (주)쇼박스    느와르   2015-11-19
2        은밀하게 위대하게           (주)쇼박스     액션   2013-06-05
3         나는 공무원이다           (주)NEW    코미디   2012-07-12
4             불량남녀     쇼박스(주)미디어플렉스    코미디   2010-11-04
5   강철대오 : 구국의 철가방         롯데엔터테인먼트    코미디   2012-10-25
6             길위에서             백두대간  다큐멘터리   2013-05-23
7              회사원           (주)쇼박스     액션   2012-10-11
8  1789, 바스티유의 연인들  유니버설픽쳐스인터내셔널코리아    뮤지컬   2014-09-18
9            청춘그루브           (주)두타연    드라마   2012-03-15

#### 다중 조건에 맞는 행 출력

- 조건이 항상 단일 조건만 있는 것이 아니라 다중 조건도 존재한다.

ex> (조건1) and (조건2) ....

- 15세 관람가 영화 중 액션 장르의 행 출력

- data[(조건문1) & (조건문2) |(조건문3)]
- and나 or은 사용 불가
- and : & / or : |

In [167]:
data[(data.screening_rat == '15세 관람가') & (data.genre == '액션')]

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,2.207752e+05,4,343,4,6959083
48,빅매치,(주)NEW,액션,2014-11-26,112,15세 관람가,최호,1.159954e+06,2,600,4,1177435
91,무적자,CJ 엔터테인먼트,액션,2010-09-16,124,15세 관람가,송해성,1.163526e+06,3,546,4,1546132
96,잉투기,무비꼴라쥬,액션,2013-11-14,98,15세 관람가,엄태화,NaN,0,65,3,17341
100,26년,인벤트 디,액션,2012-11-29,135,15세 관람가,조근현,2.636385e+06,1,365,3,2963652
139,고지전,(주)쇼박스,액션,2011-07-20,133,15세 관람가,장훈,2.266504e+06,3,238,11,2945151
182,혈투,KT,액션,2011-02-24,111,15세 관람가,박훈정,2.270048e+06,2,306,3,43947
220,런닝맨,이십세기폭스코리아(주),액션,2013-04-04,127,15세 관람가,조동오,4.738523e+05,3,307,5,1422844
254,특수본,롯데엔터테인먼트,액션,2011-11-24,111,15세 관람가,황병국,NaN,0,253,6,1118258
320,최종병기 활,롯데엔터테인먼트,액션,2011-08-10,122,15세 관람가,김한민,2.079989e+06,1,687,4,7482180
361,더 폰,(주)NEW,액션,2015-10-22,114,15세 관람가,김봉주,2.500135e+06,4,437,3,1596762
367,치외법권,판씨네마(주),액션,2015-08-27,104,15세 관람가,신재호,9.374800e+04,3,253,2,346483
491,R2B: 리턴투베이스,주머니필름,액션,2012-08-15,113,15세 관람가,김동원,NaN,0,477,7,1201944
498,암살,(주)쇼박스,액션,2015-07-22,139,15세 관람가,최동훈,5.169479e+06,4,628,3,12706663
543,"협녀, 칼의 기억",롯데엔터테인먼트,액션,2015-08-13,121,15세 관람가,박흥식,1.209303e+05,3,439,3,431310
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

- CJ 혹은 롯데가 제작한 영화 중 700만 이상의 관객수 행 출력

In [168]:
cond1 = data.distributor.str.contains('롯데|CJ')
cond2 = data.box_off_num >= 7000000

In [169]:
data[cond1 & cond2]

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
16,써니,CJ E&M Pictures,코미디,2011-05-04,124,15세 관람가,강형철,8.223342e+06,1,572,11,7453715
320,최종병기 활,롯데엔터테인먼트,액션,2011-08-10,122,15세 관람가,김한민,2.079989e+06,1,687,4,7482180
322,히말라야,CJ 엔터테인먼트,드라마,2015-12-16,124,12세 관람가,이석훈,3.549473e+06,4,520,2,7759711
372,국제시장,CJ 엔터테인먼트,드라마,2014-12-17,126,12세 관람가,윤제균,NaN,0,869,4,14262766
460,"광해, 왕이 된 남자",CJ 엔터테인먼트,드라마,2012-09-13,131,15세 관람가,추창민,1.552541e+06,2,402,3,12323595
476,수상한 그녀,CJ 엔터테인먼트,코미디,2014-01-22,124,15세 관람가,황동혁,2.781990e+06,2,437,5,8659725
496,설국열차,CJ 엔터테인먼트,SF,2013-08-01,125,15세 관람가,봉준호,NaN,0,67,10,9350351
505,해적: 바다로 간 산적,롯데엔터테인먼트,SF,2014-08-06,130,12세 관람가,이석훈,1.843895e+06,3,868,2,8666208
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

<font color = 'red'> Quiz> 2012, 2014년 개봉한 드라마 장르 영화의 평균 관객수는?
    
- 값이 속하는 범위가 2개 이상일 경우 isin 함수 사용

In [174]:
data['year'] = data.release_time.str[:4].astype(int)

In [176]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,year
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,2012
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,2015
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,2013
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,2012
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,2010

In [179]:
data[(data.year.isin([2012, 2014])) & (data.genre == '드라마')]

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,year
9,청춘그루브,(주)두타연,드라마,2012-03-15,94,15세 관람가,변성현,NaN,0,138,3,868,2012
12,해로,(주)키노아이,드라마,2012-03-22,113,12세 관람가,최종태,431231.0,1,14,2,5851,2012
14,철가방 우수氏,CJ E&M 영화부문,드라마,2012-11-22,100,12세 관람가,윤학렬,NaN,0,152,1,92404,2012
15,자유의 언덕,(주) 영화제작전원사,드라마,2014-09-04,67,청소년 관람불가,홍상수,NaN,0,52,3,39317,2014
17,별이 빛나는 밤,CGV 무비꼴라쥬,드라마,2012-04-05,98,전체 관람가,린슈유,773.0,1,8,4,5693,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,천 번을 불러도,(주)마운틴픽쳐스,드라마,2014-10-16,97,15세 관람가,신성섭,NaN,0,51,3,685,2014
574,사랑을 말하다,크리에이티브컴즈(주),드라마,2012-09-13,61,15세 관람가,전화성,424.0,2,6,8,188,2012
579,지옥화,(주)팝엔터테인먼트,드라마,2014-11-06,99,청소년 관람불가,이상우,NaN,0,42,3,600,2014
589,상의원,(주)쇼박스,드라마,2014-12-24,127,15세 관람가,이원석,NaN,0,456,5,790370,2014
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.0,1,510,7,1475091,2014

#### pd.to_datetime() 함수 사용
- 문자열로 된 날짜를 실제 날짜 형식으로 변환

In [180]:
data['날짜'] = pd.to_datetime(data['release_time'])

In [182]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
 12  year            600 non-null    int64
 13  날짜              600 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(6), object(6)
memory usage: 65.8+ KB

In [184]:
data['날짜'].dt.year

0      2012
1      2015
2      2013
3      2012
4      2010
       ...
595    2014
596    2013
597    2010
598    2015
599    2013
Name: 날짜, Length: 600, dtype: int64

In [185]:
data['날짜'].dt.month

0      11
1      11
2       6
3       7
4      11
       ..
595     8
596     3
597     9
598     5
599     1
Name: 날짜, Length: 600, dtype: int64

In [186]:
data['날짜'].dt.day_name()

0       Thursday
1       Thursday
2      Wednesday
3       Thursday
4       Thursday
         ...
595    Wednesday
596     Thursday
597     Thursday
598     Thursday
599    Wednesday
Name: 날짜, Length: 600, dtype: object

In [187]:
data['날짜'].dt.week

<ipython-input-187-d58da60ad2d3>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  data['날짜'].dt.week

0      47
1      47
2      23
3      28
4      44
       ..
595    33
596    11
597    39
598    20
599     5
Name: 날짜, Length: 600, dtype: int64

#### 단일 컬럼 출력

- 각 column은 리스트 형태로 들어가있지만 데이터 타입은 판다스의 시리즈 형태이다.

In [383]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [384]:
data['title']

0         개들의 전쟁
1           내부자들
2      은밀하게 위대하게
3       나는 공무원이다
4           불량남녀
         ...
595           해무
596         파파로티
597        살인의 강
598       악의 연대기
599          베를린
Name: title, Length: 600, dtype: object

In [385]:
type(data['title'])

pandas.core.series.Series

In [188]:
l = [1,2,3]

In [189]:
l + 1

TypeError: can only concatenate list (not "int") to list

In [190]:
data['time']

0       96
1      130
2      123
3      101
4      108
      ...
595    111
596    127
597     99
598    102
599    120
Name: time, Length: 600, dtype: int64

In [191]:
data['time'] + 30

0      126
1      160
2      153
3      131
4      138
      ...
595    141
596    157
597    129
598    132
599    150
Name: time, Length: 600, dtype: int64

#### 다중 컬럼 출력

scaling 할 때 data[col1] 적용하면 오류가 발생

In [192]:
data['time']

0       96
1      130
2      123
3      101
4      108
      ...
595    111
596    127
597     99
598    102
599    120
Name: time, Length: 600, dtype: int64

In [193]:
data[['time']]

     time
0      96
1     130
2     123
3     101
4     108
..    ...
595   111
596   127
597    99
598   102
599   120

[600 rows x 1 columns]

In [195]:
data[['title', 'time', 'num_actor']]

         title  time  num_actor
0       개들의 전쟁    96          2
1         내부자들   130          3
2    은밀하게 위대하게   123          4
3     나는 공무원이다   101          6
4         불량남녀   108          2
..         ...   ...        ...
595         해무   111          7
596       파파로티   127          6
597      살인의 강    99          4
598     악의 연대기   102          4
599        베를린   120          5

[600 rows x 3 columns]

In [387]:
data.iloc[:, 3:8]

    release_time  time screening_rat director  dir_prev_bfnum
0     2012-11-22    96      청소년 관람불가      조병옥             NaN
1     2015-11-19   130      청소년 관람불가      우민호      1161602.50
2     2013-06-05   123       15세 관람가      장철수       220775.25
3     2012-07-12   101        전체 관람가      구자홍        23894.00
4     2010-11-04   108       15세 관람가      신근호            1.00
..           ...   ...           ...      ...             ...
595   2014-08-13   111      청소년 관람불가      심성보         3833.00
596   2013-03-14   127       15세 관람가      윤종찬       496061.00
597   2010-09-30    99      청소년 관람불가      김대현             NaN
598   2015-05-14   102       15세 관람가      백운학             NaN
599   2013-01-30   120       15세 관람가      류승완             NaN

[600 rows x 5 columns]

#### pandas의 series와 list가 다른 점

In [197]:
l = [3,4,5]

In [199]:
l + list(1)

TypeError: 'int' object is not iterable

In [200]:
l + [1]

[3, 4, 5, 1]

In [390]:
data['box_off_num'] + 1000000

0      1023398
1      8072501
2      7959083
3      1217866
4      1483387
        ...
595    2475091
596    2716438
597    1002475
598    3192525
599    8166532
Name: box_off_num, Length: 600, dtype: int64

<font color = 'red' > Quiz> 기존 time 변수에 5를 더해 새로운 변수 'time2'를 생성해보시오.
    
- 파생변수 생성은 판다스의 시리즈를 활용한다.

In [201]:
data['time2'] = data['time'] + 5

In [203]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,year,날짜,time2
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,2012,2012-11-22,101
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,2015,2015-11-19,135
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,2013,2013-06-05,128
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,2012,2012-07-12,106
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,2010,2010-11-04,113

#### 단일변수 : 데이터['컬럼명'].함수()

함수 예시> std, mean, max, min, median, var, skew etc.
- 'time' 변수 평균 값 확인

In [204]:
data['time'].mean()

100.86333333333333

- 최다 영화 관객 수 확인

In [392]:
data['box_off_num'].max()

14262766

- 영화 상영 시간 표준편차 확인

In [393]:
data['time'].std()

18.097528093473027

<font color = 'red'> Quiz> 영화 투입 스태프 수 분산 출력

In [205]:
data['num_staff'].var()

27441.470114079024

#### 집계 함수 적용 : 데이터.groupby('컬럼').컬럼.함수()

- genre별 데이터 수 확인

In [206]:
data.groupby('genre').time.size()

genre
SF         13
공포         42
느와르        27
다큐멘터리      93
드라마       221
멜로/로맨스     78
뮤지컬         5
미스터리       17
서스펜스        2
애니메이션      21
액션         28
코미디        53
Name: time, dtype: int64

In [207]:
data.groupby('genre').num_staff.size()

genre
SF         13
공포         42
느와르        27
다큐멘터리      93
드라마       221
멜로/로맨스     78
뮤지컬         5
미스터리       17
서스펜스        2
애니메이션      21
액션         28
코미디        53
Name: num_staff, dtype: int64

In [395]:
data.groupby('genre').genre.count()

genre
SF         13
공포         42
느와르        27
다큐멘터리      93
드라마       221
멜로/로맨스     78
뮤지컬         5
미스터리       17
서스펜스        2
애니메이션      21
액션         28
코미디        53
Name: genre, dtype: int64

위 두 결과는 동일하다. 집계 함수에 size, count를 적용할 때 효율적인 방법일까?

- 해당 카테고리의 개수를 세어 준다.

In [396]:
data.genre.value_counts()

드라마       221
다큐멘터리      93
멜로/로맨스     78
코미디        53
공포         42
액션         28
느와르        27
애니메이션      21
미스터리       17
SF         13
뮤지컬         5
서스펜스        2
Name: genre, dtype: int64

- screening_rat별 관객수 중위값 출력

In [208]:
data.groupby('screening_rat')['box_off_num'].median()

screening_rat
12세 관람가      19323.0
15세 관람가     242381.0
전체 관람가        8325.0
청소년 관람불가      3008.5
Name: box_off_num, dtype: float64

In [209]:
data.groupby('screening_rat')['box_off_num'].std()

screening_rat
12세 관람가     2.021396e+06
15세 관람가     2.487688e+06
전체 관람가      5.567933e+05
청소년 관람불가    9.970146e+05
Name: box_off_num, dtype: float64

- 장르, 상영등급별 관객수 최대값 출력

In [212]:
data.groupby(['genre', 'screening_rat']).box_off_num.max().reset_index()

     genre screening_rat  box_off_num
0       SF       12세 관람가      8666208
1       SF       15세 관람가      9350351
2       SF        전체 관람가        12696
3       SF      청소년 관람불가         1089
4       공포       12세 관람가         1079
5       공포       15세 관람가      5604106
6       공포      청소년 관람불가      2434435
7      느와르       15세 관람가     12983841
8      느와르      청소년 관람불가      7072501
9    다큐멘터리       12세 관람가       155281
10   다큐멘터리       15세 관람가        50308
11   다큐멘터리        전체 관람가      4802169
12   다큐멘터리      청소년 관람불가         2788
13     드라마       12세 관람가     14262766
14     드라마       15세 관람가     12323595
15     드라마        전체 관람가       696382
16     드라마      청소년 관람불가      4015364
17  멜로/로맨스       12세 관람가      4113446
18  멜로/로맨스       15세 관람가      4598985
19  멜로/로맨스        전체 관람가        20081
20  멜로/로맨스      청소년 관람불가      1865354
21     뮤지컬       12세 관람가         3089
22     뮤지컬        전체 관람가        16323
23    미스터리       15세 관람가      5443049
24    미스터리      청소년 관람불가         6085
25    서스펜스      청소년 관람불가       142170
26   애니메이션       12세 관람가        23802
27   애니메이션       15세 관람가           81
28   애니메이션        전체 관람가      2202788
29   애니메이션      청소년 관람불가        22525
30      액션       12세 관람가       609063
31      액션       15세 관람가     12706663
32      액션      청소년 관람불가      6178665
33     코미디       12세 관람가      4786259
34     코미디       15세 관람가     12811435
35     코미디        전체 관람가       217866
36     코미디      청소년 관람불가       196995

<font color = 'red'> Quiz> release_time으로부터 '년도' 변수를 생성한 후 년도, 상영등급별 관객수의 평균 값을 데이터 프레임 형태로 바꾼 후 관객수를 기준으로 내림차순 정렬하시오.

In [214]:
# 1번째 방법

data['년도'] = data.release_time.str[:4]

In [216]:
# 2번째 방법

data['날짜'] = pd.to_datetime(data['release_time'])
data['년도'] = data['날짜'].dt.year

In [219]:
data.groupby(['년도', 'screening_rat']).box_off_num.mean().reset_index().sort_values(by = 'box_off_num', ascending = False)

      년도 screening_rat   box_off_num
13  2013       15세 관람가  2.625459e+06
16  2014       12세 관람가  1.367648e+06
9   2012       15세 관람가  1.332837e+06
21  2015       15세 관람가  1.153910e+06
5   2011       15세 관람가  1.093222e+06
20  2015       12세 관람가  9.530528e+05
4   2011       12세 관람가  8.763073e+05
3   2010      청소년 관람불가  8.601157e+05
17  2014       15세 관람가  7.587605e+05
8   2012       12세 관람가  6.970623e+05
0   2010       12세 관람가  6.691462e+05
11  2012      청소년 관람불가  6.525829e+05
1   2010       15세 관람가  4.005068e+05
18  2014        전체 관람가  3.249272e+05
23  2015      청소년 관람불가  2.820916e+05
19  2014      청소년 관람불가  2.486492e+05
15  2013      청소년 관람불가  2.308207e+05
12  2013       12세 관람가  1.900015e+05
6   2011        전체 관람가  1.387186e+05
2   2010        전체 관람가  1.269921e+05
7   2011      청소년 관람불가  9.472050e+04
22  2015        전체 관람가  5.474029e+04
14  2013        전체 관람가  3.692442e+04
10  2012        전체 관람가  3.567038e+04

## 작업형 문제 해결을 위한 Tip

#### 1. list comprehension

- 변수 생성시 리스트로 한 번에 만들기

In [399]:
data['김씨'] = [s.startswith('김') for s in data['director']]

In [400]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,김씨
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,False
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,False
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,False
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,False
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,False

- CJ 제작 영화 중 500만 이상 영화는 1로 아닌 경우 0으로 변수 생성

In [401]:
data['CJ500'] = [1 if v[0] > 5000000 and 'CJ' in v[1] else 0 for i, v in enumerate(zip(data['box_off_num'], data['distributor']))]

In [411]:
data[data.CJ500 == 1].shape

(10, 16)

In [410]:
data[(data.distributor.str.contains('CJ')) & (data.box_off_num > 5000000)].shape

(10, 16)

<font color = 'red' > Quiz> 청소년 관람불가 영화는 1 그 외의 상영등급 영화는 0으로 변수생성 / 변수명 : 청불

#### 2. 날짜 형식 데이터 처리

- pd.to_datetime(데이터['날짜컬럼'])
- hour, month, year, minute, day 등 모든 시간 변수 추출 가능

In [404]:
data.release_time[:5]

0    2012-11-22
1    2015-11-19
2    2013-06-05
3    2012-07-12
4    2010-11-04
Name: release_time, dtype: object

날짜 데이터지만 문자열 타입이다.

In [405]:
data['release_time'] = pd.to_datetime(data['release_time'])

In [406]:
data.release_time[:5]

0   2012-11-22
1   2015-11-19
2   2013-06-05
3   2012-07-12
4   2010-11-04
Name: release_time, dtype: datetime64[ns]

In [407]:
data['year'] = data.release_time.dt.year

In [408]:
data['day_name'] = data.release_time.dt.day_name()

In [409]:
data.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,김씨,CJ500,year,day_name
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,False,0,2012,Thursday
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,False,0,2015,Thursday
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,False,0,2013,Wednesday
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,False,0,2012,Thursday
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,False,0,2010,Thursday

<font color = 'red'> Quiz> "월" 변수를 생성한 후 1 ~ 6월은 '상반기' 7 ~ 12월은 '하반기'라는 문자열 값을 가지는 "상하반기" 변수를 생성하시오.

## 3. Numpy

- 딥러닝의 근간인 행렬을 다루는 주요 패키지
- 전반적인 Data Science의 기본 중의 기본!
- But 빅데이터분석기사 실기에서는 활용가치가 그렇게 높지 않다!

In [1]:
import numpy as np

In [4]:
data

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

np.arg~ 는 인덱스를 반환한다.

In [7]:
np.argmax(data.box_off_num)

372

In [8]:
np.argmin(data.time)

545

In [14]:
a = [9, 2, 4]

In [15]:
np.argsort(a)

array([1, 2, 0])